<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="example1" routerLinkActive="active">Example 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="example2" routerLinkActive="active">Example 2</a>
  </li>
  <!--<li class="nav-item">
    <a class="nav-link" routerLink="example3" routerLinkActive="active">Example 3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="example4" routerLinkActive="active ">Example 4</a>
  </li>-->
</ul>
<hr>
<router-outlet></router-outlet>